.hover-columna
  position: relative
.centrar-imagen 
  display: flex
  align-content: center
  align-items: center
.centrar-img
  margin: 0 auto
.italic  
  font-style: italic
.fit-content
  width: fit-content  
.br-10
  border-radius: 10px  
.disp-none
  display: inherit
  @media screen and ( max-width: 992px)
    display: none
.neg--top  
  margin-top: -5.5rem
  @media (max-width: 992px)  
    margin: 0      
.neg--x  
  margin-left: -7rem
  margin-right: -1.5rem
  @media (max-width: 992px)  
    margin: 0     
.neg--right
  margin-right: -5.5rem
  @media (max-width: 992px)  
    margin: 0


.bx-shadow
  -webkit-box-shadow: 1px 3px 6px 4px rgba(204,204,204,1)
  -moz-box-shadow: 1px 3px 6px 4px rgba(204,204,204,1)
  box-shadow: 1px 3px 6px 4px rgba(204,204,204,1)


.text-azul  
  color: #2194E5
  font-weight: bold
.text-morado
  color: #7F4FC7
  font-weight: bold  
.titulo-sexto.color-naranja
  border-left-color: #FFA726
.bg-1
  background: #EEF6FC  
.bg-2
  background: #EDE7F7  
.dg-morado
  background: rgb(126,83,197)
  background: linear-gradient(180deg, rgba(126,83,197,1) 0%, rgba(91,20,217,1) 100%) 
.dg-azul
  background: rgb(17,110,185)
  background: linear-gradient(180deg, rgba(17,110,185,1) 0%, rgba(24,148,246,1) 100%)
.dg-gris
  background: rgb(245,245,245)
  background: linear-gradient(180deg, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 29%, rgba(167,179,207,1) 100%)


.bg-intro
  background-image: url('../assets/curso/temas/intro-fondo.png') 
  background-position: bottom right   
  background-size: cover
  @media screen and ( max-width: 992px)
    background-position: center 
.bg-tema1
  background-image: url('../assets/curso/temas/fondo-izq.png')
  background-position: top right
  background-size: 100% 90%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (min-width: 1398px)
    background-size: 100% 82%
  @media screen and (max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem
.bg-tema1-1
  background-image: url('../assets/curso/temas/tema1-fondo.png')
  background-position: top right
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (min-width: 1398px)
    background-size: 100% 82%
  @media screen and (max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem    
.bg-tema2
  background-image: url('../assets/curso/temas/fondo-izq.png')
  background-position: top right
  background-size: 100% 80%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (min-width: 1398px)
    background-size: 100% 72%
  @media screen and (max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem 
.bg-tema2-1
  background-image: url('../assets/curso/temas/tema2-fondo.png')
  background-position: top left
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (min-width: 1398px)
    background-size: 100% 82%
  @media screen and (max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem   
.bg-tema2-2
  background-image: url('../assets/curso/temas/fondo-izq-gris.png')
  background-position: 100% 34%
  background-size: 100% 80%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (min-width: 1398px)
    background-size: 100% 70%
    background-position: 100% 42%
  @media screen and (max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem
.bg-tema2-3
  background-image: url('../assets/curso/temas/tema2-fondo.png')
  background-position: top left
  background-size: 100% 45%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (min-width: 1398px)
    background-size: 100% 45%
  @media screen and (max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem   
.bg-tema4   
  background-image: url('../assets/curso/temas/tema4/fondo.png')     
  background-repeat: no-repeat
  background-size: cover   
.bg-tema4-2
  background-image: url('../assets/curso/temas/fondo-der-gris.png')
  background-position: top left
  background-size: 100% 82%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (min-width: 1398px)
    background-size: 100% 70%
  @media screen and (max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem    
.bg-tema5
  background-image: url('../assets/curso/temas/fondo-der-gris.png')
  background-position: top left
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (min-width: 1398px)
    background-size: 100% 100%
  @media screen and (max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem 
.bg-tema5-1
  background-image: url('../assets/curso/temas/tema5/fondo.png')
  background-position: top center
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (min-width: 1398px)
    background-size: cover
  @media screen and (max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem
.bg-tema5-2
  background-image: url('../assets/curso/temas/fondo-izq.png')
  background-position: 100%
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem                      
.bg-tema6
  background-image: url('../assets/curso/temas/fondo-der.png')
  background-position: center left
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem
.bg-tema7
  background-image: url('../assets/curso/temas/fondo-izq-gris.png')
  background-position: 100% 15%
  background-size: 100% 80%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (min-width: 1398px)
    background-size: 100% 65%
    background-position: 100% 35%
  @media screen and (max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem 
.bg-tema7-2
  background-image: url('../assets/curso/temas/fondo-der.png')
  background-position: 100% 5%
  background-size: 100% 80%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (min-width: 1398px)
    background-size: 100% 80%
    background-position: 100% 10%
  @media screen and (max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem


.cajon.color-secundario 
  background-color: #EDE7F7
.cajon.color-acento-botones:before 
  background-color: #EFD198
.cajon.color-acento-botones
  background-color: #FFFAD8
.cajon.color-acento-botones.sdo-amarillo:before 
  background-color: #E2C13A
.cajon.color-acento-botones.sdo-amarillo
  background-color: #FFECB1  

.linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title
  font-size: 20px
  @media screen and (max-width: 992px)
    font-size: 18px  
    padding-top: 20px
    margin-bottom: 30px
.linea-tiempo-d.color-acento-botones .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #EFD198 
.linea-tiempo-d__item__dots:after
  border-left: 5px dotted #AFAFAF 

.slyder-f__btn i 
  font-size: 3rem    
.slyder-f .tarjeta  
  height: 202px
.slyder-f__main .horizontal-scroll__wrapper
  padding: 0px 10px 0px 18px
.slyder-f__slyde
  padding: 10px 15px

.space-4columns .col-md-3  
  width: 22%
  @media screen and (max-width: 992px)
    width: 95%
.space-3columns .col-md-4  
  width: 31%
  @media screen and (max-width: 992px)
    width: 95%    

figcaption 
  background-color: #F6F6F6
  font-weight: 500    