.hover-columna
  position: relative
.centrar-imagen 
  display: flex
  align-content: center
  align-items: center
.centrar-img
  margin: 0 auto
.italic  
  font-style: italic


.text-morado
  color: #7F4FC7
  font-weight: bold  


.bg-intro
  background-image: url('../assets/curso/temas/intro-fondo.png') 
  background-position: bottom right   
  background-size: cover
  @media screen and ( max-width: 992px)
    background-position: center 